<div class="row">
    <div class="col-md-12">
        <qdt-component [Component]="viz1.type" [props]="viz1.props"></qdt-component>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <qdt-component [Component]="viz2.type" [props]="viz2.props"></qdt-component>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <h5>component.html</h5>
        <pre><code class="html">
            {{htmlContent}}
            </code>
        </pre>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <h5>component.ts</h5>
        <pre><code class="typescript">
            {{jsContent}}
        </code></pre>
    </div>
</div>